In [ ]:
# This is the first example
print ('Hello world')

In [ ]:
print("hello world")

In [ ]:
print('Aida is wonderfull')

In [ ]:
x= 36
my_Information = 'Aida'
print (my_Information, x)

In [ ]:
myFirstname = 'aida'
myLastname ='Zadgari'
print (myFirstname)
print (myFirstname + myLastname)
print (myFirstname + "-"+ myLastname)
print (myFirstname + " "+ myLastname)

In [ ]:
str_1 = 'Aida is a good girl.'
print(str_1.upper())
str_1.lower()

In [ ]:
word = '   Aida   '
newWord = word.strip()
print(word)
print(newWord)

In [ ]:
'   aida   '.strip()

In [ ]:
str_1= 'aida'
print('aida'.strip('a'))

In [ ]:
x= 'aida'
xx = x.count('a')
print(xx)

In [ ]:
x=6
y=2
print(x**y)
print(x/y)
print(x//y)

In [ ]:
import math

In [ ]:
sss = input('what is your name: ')

In [ ]:
message = 'I am successful'
print (len(message))
print (message.lower())
print (message.upper())

In [ ]:
# 1

In [ ]:
Century = 100
my_age = 30
agetocentury = Century - my_age
print(agetocentury)

In [ ]:
print('My age is %d, my age to century is %d' % (my_age,agetocentury))

In [ ]:
print(f'My age is {my_age} and my age to century is {agetocentury}')

In [ ]:
# 2

In [ ]:
for i in range (5,10):
    print (i)

In [ ]:
counter = 0
step = 4
while counter < step:
    print ("I am on step %d" % (counter))
    counter = counter + 1

In [ ]:
topofstep = 5
for i in range (1, topofstep):
    print(f'I am on step {i}')

In [ ]:
def goUpsteps():
    counter = 1
    topstep = 5
    while counter < topstep:
        print(f'I am on step{counter}')
        counter = counter +1

In [ ]:
goUpsteps()

In [ ]:
def goUpsteps(topstep):
    counter = 1
    while counter < topstep:
        print(f'I am on step{counter}')
        counter = counter +1
    print(f'I am on the top step : {counter}')

In [ ]:
goUpsteps(5)

In [ ]:
def Steps(start, end):
    for i in range (start, end):
        print(f'I am on step {i}')

In [ ]:
Steps(3, 7)

In [ ]:
#Matrices

In [ ]:
import numpy as np
mydata = np.arange(0,20)
print(mydata)

In [ ]:
for i in mydata:
    print(f'{i}')

In [ ]:
np.reshape(mydata,(5,4),order='C')  #C order means that operating row-rise on the array

In [ ]:
 np.reshape(mydata,(5,4),order='F') #F order means that column-wise operations will be faster.

In [ ]:
MATR1 = np.reshape(mydata,(5,4),order='C')
MATR2 = np.reshape(mydata,(5,4),order='F')
print(MATR1[2,2])

In [ ]:
Message = ['60','days','to','christmas']
print('There are %s %s %s %s' % (Message[0], Message[1],Message[2],Message[3]))

In [ ]:
#Dictionary (keys, values)

In [ ]:
dict1 = {'key1': 'val1', 'key2':'val2','key3':'val3'}
dict1['key1']
print(dict1['key1'])

In [32]:
countries = ['Germany', 'Spain','Italy','UK']
visited = ['yes','no','yes','no']
for i in range (0,4):
    print(f'{countries[i]}:{visited[i]}')

Germany:yes
Spain:no
Italy:yes
UK:no

In [33]:
emplooyees = [{'name': 'John', 'age':'38','department':'marketing'}, {'name': 'Alex', 'age':'29','department':'accounting'}, 
              {'name': 'Rose', 'age':'35','department':'HR'}]

In [46]:
for emplooyee in emplooyees:
    print('Name\t\t', emplooyee['name'])
    print('Age\t\t', emplooyee['age'])
    print('Department\t', emplooyee['department'])
    print('='*20)

Name		 John
Age		 38
Department	 marketing
====================
Name		 Alex
Age		 29
Department	 accounting
====================
Name		 Rose
Age		 35
Department	 HR
====================

In [54]:
for emplooyee in emplooyees:
    print('Name\t', emplooyee['name'],"   ",'Age\t', emplooyee['age'],"   ",'Department\t', emplooyee['department'])
    print('='*60)

Name	 John     Age	 38     Department	 marketing
============================================================
Name	 Alex     Age	 29     Department	 accounting
============================================================
Name	 Rose     Age	 35     Department	 HR
============================================================

In [57]:
examscores = {'Corey':[23,14,78], 'Lisa':[65,32,90], 'Brad':[37,64,29]}
print(examscores)

{'Corey': [23, 14, 78], 'Lisa': [65, 32, 90], 'Brad': [37, 64, 29]}

In [67]:
import pandas as pd
examDataFrame = pd.DataFrame(examscores)
print(examDataFrame)

   Corey  Lisa  Brad
0     23    65    37
1     14    32    64
2     78    90    29

In [68]:
examDataFrame = examDataFrame.T
print(examDataFrame)

        0   1   2
Corey  23  14  78
Lisa   65  32  90
Brad   37  64  29

In [70]:
examDataFrame.columns = ['English','Math','Science']
print(examDataFrame)

       English  Math  Science
Corey       23    14       78
Lisa        65    32       90
Brad        37    64       29

In [71]:
examDataFrame.iloc[0]

English    23
Math       14
Science    78
Name: Corey, dtype: int64

In [72]:
examDataFrame['English']

Corey    23
Lisa     65
Brad     37
Name: English, dtype: int64

In [73]:
examDataFrame.English

Corey    23
Lisa     65
Brad     37
Name: English, dtype: int64